
@font-face {
    font-family: 'ABChanel-Corpo_Regular';
     font-weight: normal;
    font-style: normal;
    src:   local('ABChanel-Corpo_Regular'), local('ABChanel-Corpo_Regular'), url('ABChanel_Corpo-Regular_web.woff2') format('woff2')
           
}
